@using HKTHMall.Services.Common.MultiLangKeys
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_a">

    <div class="main_about">
        <div class="ls_member">
            <!--left-->
            @Html.Partial("_userLeft")
            <!--right-->
            <div class="ls_member_rg">
                <div class="m_user_pubtitle">@CultureHelper.GetLangString("ACCOUNT_USERINFO_SETPAYPASSWORD_SETPAYPASSWORD")@*设置交易密码*@</div>
                <div class="m_user_pas">
                    <div class="m_user_pas_nr">
                        <!--标签strong是错误提示位置，当报错时，strong显示，i标签隐藏，当输入正确时，返回到i标签显示，
                            strong标签隐藏，用来选取不同的标签的ID名，开发自己写-->
                        <ul>
                            <li>
                                @*设置密码*@
                                <b>@CultureHelper.GetLangString("ACCOUNT_USERINFO_UPDATELOGINPASSWORD_SETPASSWORD")</b><span>
                                 @*请输入交易密码*@
                                <input type="password" name="" id="txtPwd" maxlength="16" class="m_user_pas_text" placeholder="@CultureHelper.GetLangString("ACCOUNT_USERINFO_SETPAYPASSWORD_INPUTTPAYPASSWORD")"></span>
                                 @*6-16位字符*@
                                 <i id="tip0">@CultureHelper.GetLangString("HK_INPUTPWDSTR_SHORT")</i>
                                @*填写有误，请重新输入*@
                                <strong style="display:none;" id="error0">@CultureHelper.GetLangString("HK_CXSF")</strong>
                            </li>
                            <li>
                                @*确认密码*@
                                <b>@CultureHelper.GetLangString("LOGIN_GETPASSWORD_CONFIRMPASSWORD")</b>
                                @*再次输入密码*@
                                <span><input type="password" name="" id="txtqrPwd" maxlength="16" class="m_user_pas_text" placeholder="@CultureHelper.GetLangString("LOGIN_GETPASSWORD_PWDAGAIN")"></span>
                                @*重复输入上面的密码*@
                                <i id="tip1">@CultureHelper.GetLangString("HK_SUREPWD")</i>
                                @*填写有误，请重新输入*@
                                <strong style="display:none;" id="error1">@CultureHelper.GetLangString("HK_CXSF")</strong>
                            </li>
                        </ul>
                        <dl>
                            <b><input type="button" name="" id="submit" onclick="javascript: void (xiugai());" class="m_user_pas_submit" value="@CultureHelper.GetLangString("HK_SAVESHEZI")"></b>@*保存设置*@
                        </dl>

                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="clear"></div>
            <div class="dialogCover">
                <div class="dialogMain">
                </div>
            </div>

        </div>
    </div>

</div>
<script type="text/javascript">  
    $("#txtPwd").blur(function () {
        checkPwd();       
    });

    //var tegNum = /^\d{6,16}$/;
    //var tegLetter = /^[a-zA-Z]{6,16}$/;
    //var pattern = /^[!@@#$%^&*()_+|={}?><\-\]\\[\/]{6,16}$/;
    function checkPwd() {
        var password = $("#txtPwd").val();
        if (password == "") {
            $("#error0").show();
            $("#tip0").hide();
            return false;
        }
        if ( password.length < 6 || password.length >16) {
            $("#error0").show();
            $("#tip0").hide();
            return false;
        }
        //if (tegNum.test(password) || tegLetter.test(password) || pattern.test(password)) {
        //    $("#error0").show();
        //    $("#tip0").hide();
        //    return false;
        //}
        $.ajax({
            url: "/UserInfo/PlyPassExist",
            dataType: "json",
            type: "post",
            data: { "StrPlyPass": password, "type": 1 },
            async: false,
            success: function (data) {
                if (data.rs == 1) {
                    $("#error0").hide();
                    $("#tip0").show();                   
                }
                else {
                    $("#error0").show().html(data.msg);
                    $("#tip0").hide();
                }
            }

        });
    }

    $("#txtqrPwd").blur(function () {
        checkPwdAgain();
    });

    function checkPwdAgain() {
        var pwd = $("#txtPwd").val();
        var rpwd = $("#txtqrPwd").val();
        if (rpwd == "") {
            $("#error1").show();
            $("#tip1").hide();
        } else {
            if (rpwd != pwd) {
                $("#error1").show().html($commonLang.LOGIN_GETPASSWORD_PWDDIFFERENT);
                $("#tip1").hide();
            }
            else {
                $("#error1").hide();
                $("#tip1").show();
            }
        }
    }




    function xiugai() {
        $("#submit").attr("disabled", "disabled"); //使按钮不能被点击

        checkPwd();
        checkPwdAgain();

        var npwd = $("#error0").is(":hidden");
        var cpwd = $("#error1").is(":hidden");

        var newpwd = $("#txtPwd").val();
        var conpwd = $("#txtqrPwd").val();      
        if (npwd && cpwd) {
            $.post("/UserInfo/SetPayPassword",
                {
                    pwd: newpwd,
                    cpwd: conpwd
                },
                function (data) {
                    $(".dialogMain").html(data.msg);
                    var msg = $(".dialogCover").html();
                    if (data.rs == 1) {                       
                       ds.dialog({
                            title: $commonLang.MONEY_ORDER_INFO,
                            content: msg,
                            yesText: $commonLang.ORDER_LIST_SURE,
                            onyes: function () {
                                window.location.reload();
                                this.close();
                            },
                        });
                    }
                    else {
                        ds.dialog({
                            title: $commonLang.MONEY_ORDER_INFO,
                            content: msg,
                            yesText: $commonLang.ORDER_LIST_SURE,
                            onyes: function () {
                                this.close();
                            },
                        });                      
                        $("#submit").removeAttr("disabled");
                    }
                });
        }
        else {
            $("#submit").removeAttr("disabled");
            return false;
        }
    }


</script>