@using HKTHMall.Services.Common.MultiLangKeys
@using HKTHMall.Domain.Enum

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.IsValid == true)
{
    <div class="main_a">
        <div class="main_about">
            <div class="ls_member">
                <!--left-->
                @Html.Partial("_userLeft")
                <!--right-->
                <div class="ls_member_rg">
                    <div class="m_user_pubtitle">@CultureHelper.GetLangString("ACCOUNT_USERINFO_UPDATEPAYPASSWORD_UPDATEPAYPASSWORD") @*修改交易密码*@</div>
                    <div class="m_user_pas">
                        <div class="m_user_pas_nr">
                            <!--标签strong是错误提示位置，当报错时，strong显示，i标签隐藏，
                                当输入正确时，返回到i标签显示，strong标签隐藏，用来选取不同的标签的ID名，开发自己写-->
                            <ul>
                                <li>
                                    <b>@CultureHelper.GetLangString("ACCOUNT_USERINFO_UPDATELOGINPASSWORD_SETPASSWORD") @*设置密码*@</b>
                                    <span><input type="password" name="" id="txtPwd" class="m_user_pas_text" maxlength="16" placeholder="@CultureHelper.GetLangString("LOGIN_ENTERPASSWORD")"></span>@*请输入密码*@
                                    <i id="tip0">@CultureHelper.GetLangString("HK_INPUTPWDSTR_SHORT") @*6-16位字符*@</i>
                                    <strong style="display:none;" id="error0">@CultureHelper.GetLangString("HK_CXSF") @*填写有误，请重新输入*@</strong>
                                </li>
                                <li>
                                    <b>@CultureHelper.GetLangString("LOGIN_GETPASSWORD_CONFIRMPASSWORD") @*确认密码*@</b>
                                    <span><input type="password" name="" id="txtqrPwd" class="m_user_pas_text" maxlength="16" placeholder="@CultureHelper.GetLangString("LOGIN_GETPASSWORD_PWDAGAIN")"></span>@*再次输入密码*@
                                    <i id="tip1">@CultureHelper.GetLangString("HK_SUREPWD") @*重复输入上面的密码*@</i>
                                    <strong style="display:none;" id="error1">@CultureHelper.GetLangString("HK_CXSF") @*填写有误，请重新输入*@</strong>
                                </li>
                                <li class="m_user_pas_yzm">
                                    <b>@CultureHelper.GetLangString("LOGIN_GETPASSWORD_VERIFICATIONCODE_1") @*验证码*@</b>
                                    <span><input type="text" name="" id="txtCode" class="m_user_pas_text_yzm" placeholder="@CultureHelper.GetLangString("HK_INPUYZM")" maxlength="4"></span>@*请输入验证码*@
                                    <div class="m_user_pas_yzm_img">
                                        <div class="m_user_pas_yzm_img1">
                                            <a href="javascript:;" title="" class="js-getCode">
                                                <img id="yzmPic" src="@Url.Action("VerifyCode",new { codeType = (int)EImageVerifyCodeType.UpdatePayPwd })">
                                            </a>
                                        </div>
                                        <div class="m_user_pas_yzm_text">@CultureHelper.GetLangString("HK_INVISIBILITY") @*看不清？*@ 
                                            <a href="javascript:;" title="" class="js-getCode">@CultureHelper.GetLangString("CHANGE_ANOTHER_ONE") @*换一张*@</a></div>
                                    </div>
                                    <i id="tip2">@CultureHelper.GetLangString("LOGIN_PASSWORD_INPUTVALIDCODE") @*请输入图片上的验证码*@</i>
                                    <strong style="display:none;" id="error2">@CultureHelper.GetLangString("HK_CXSF") @*填写有误，请重新输入*@</strong>
                                </li>
                            </ul>
                            <dl>
                                <b><input type="button" name="" id="submit" onclick="javascript:void(xiugai());" class="m_user_pas_submit" value="@CultureHelper.GetLangString("HK_SAVESHEZI")"></b>@*保存设置*@
                            </dl>

                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="dialogCover"><div class="dialogMain"></div></div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">

    //刷新图片验证码
    $('.js-getCode').click(function () {
        GetValidateCode();
    });
    //切换验证码
    function GetValidateCode() {
        $("#yzmPic").attr("src", "@Url.Action("VerifyCode", new { codeType = (int)EImageVerifyCodeType.UpdatePayPwd })&t=" + (new Date()).getTime());
    }

    $("#txtPwd").blur(function () {
        checkPwd();
    });

    //var tegNum = /^\d{6,16}$/;
    //var tegLetter = /^[a-zA-Z]{6,16}$/;
    //var pattern = /^[!@@#$%^&*()_+|={}?><\-\]\\[\/]{6,16}$/;
    function checkPwd() {
        var password = $("#txtPwd").val();
        if (password == "") {
            $("#error0").show();
            $("#tip0").hide();
            return false;
        }
        if (password.length < 6 || password.length > 16 ) {
            $("#error0").show();
            $("#tip0").hide();
            return false;
        }
        //if (tegNum.test(password) || tegLetter.test(password) || pattern.test(password)) {
        //    $("#error0").show();
        //    $("#tip0").hide();
        //    return false;
        //}
        $.ajax({
            url: "/UserInfo/PlyPassExist",
            dataType: "json",
            type: "post",
            data: { "StrPlyPass": password, "type": 2 },
            async: false,
            success: function (data) {
                if (data.rs == 1) {
                    $("#error0").hide();
                    $("#tip0").show();
                }
                else {
                    $("#error0").show().html(data.msg);
                    $("#tip0").hide();
                }
            }

        });
    }


    $("#txtqrPwd").blur(function () {
        checkPwdAgain();
    });

    function checkPwdAgain() {
        var pwd = $("#txtPwd").val();
        var rpwd = $("#txtqrPwd").val();
        if (rpwd == "") {
            $("#error1").show();
            $("#tip1").hide();
        } else {
            if (rpwd != pwd) {
                $("#error1").show().html($commonLang.LOGIN_GETPASSWORD_PWDDIFFERENT);
                $("#tip1").hide();
                return false;
            }
            else {
                $("#error1").hide();
                $("#tip1").show();
            }
        }
    }

    $("#txtCode").blur(function () {
        CheckYZM();
    });

    //验证码
    function CheckYZM() {
        var yzm = $("#txtCode").val();
        if (yzm == "") {
            $("#tip2").hide();
            $("#error2").show();
        } else {
            $.ajax({
                url: "@Url.Action("ValidCode", new {codeType = (int) EImageVerifyCodeType.UpdatePayPwd})",
                type: "Post",
                data: { verifyCode: yzm },
                dataType: "json",
                success: function (data) {
                    if (data == "true") {
                        $("#tip2").show();
                        $("#error2").hide();
                    } else {
                        $("#tip2").hide();
                        $("#error2").show();
                        //$(this).focus();
                        GetValidateCode();
                    }
                }
        });
    }
    }

    function xiugai() {
        $("#submit").attr("disabled", "disabled"); //使按钮不能被点击

        checkPwd();
        checkPwdAgain();
        CheckYZM();

        var npwd = $("#error0").is(":hidden");
        var cpwd = $("#error1").is(":hidden");
        var vcode = $("#error2").is(":hidden");

        var newpwd = $("#txtPwd").val();
        var conpwd = $("#txtqrPwd").val();
        var validcode = $("#txtCode").val();

        if (npwd && cpwd && npwd) {
            $.post("/UserInfo/UpdatePayPassword",
                {
                    code: validcode,
                    npwd: newpwd,
                    cpwd: conpwd
                },
                function (data) {
                    $(".dialogMain").html(data.msg);
                    var msg = $(".dialogCover").html();
                    if (data.rs == 1) {
                        ds.dialog({
                            title: $commonLang.MONEY_ORDER_INFO,
                            content: msg,
                            yesText: $commonLang.ORDER_LIST_SURE,
                            onyes: function () {
                                window.location.href = "/Account/UserInfo/UpdateSuccess";
                                this.close();
                            },
                        });
                    }
                    else {
                        ds.dialog({
                            title: $commonLang.MONEY_ORDER_INFO,
                            content: msg,
                            yesText: $commonLang.ORDER_LIST_SURE,
                            onyes: function () {
                                this.close();
                            },
                        });
                        $("#submit").removeAttr("disabled");
                    }
                });
        }
        else {
            $("#submit").removeAttr("disabled");
            return false;
        }
    }
    </script>
}
else
{
    @Html.Action("EmailFail")
}



