@using HKTHMall.Services.Common.MultiLangKeys

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_a">

    <div class="main_about">
        <div class="ls_member">
            <!--left-->
            @Html.Partial("_userLeft")
            <!--right-->
            <div class="ls_member_rg">
                <div class="m_user_pubtitle">@CultureHelper.GetLangString("ACCOUNT_USERINFO_UPDATEPAYPASSWORD_UPDATEPAYPASSWORD")@*修改交易密码*@</div>
                <div class="m_user_pas">
                    <div class="m_user_pas_nr">
                        <!--标签strong是错误提示位置，当报错时，strong显示，i标签隐藏，
                            当输入正确时，返回到i标签显示，strong标签隐藏，用来选取不同的标签的ID名，开发自己写-->
                        <ul>
                            <li>
                                @*注册邮箱*@
                                <b>@CultureHelper.GetLangString("LOGIN_PASSWORD_ZHUCEYOUXIANG")</b>
                                @*请输入注册邮箱*@
                                <span><input type="text" name="" id="txtEmail" class="m_user_pas_text" value="@ViewBag.Email" placeholder="@CultureHelper.GetLangString("LOGIN_PASSWORD_SHURUZHUCEYOUXIANG")"></span>
                                @*请输入您常用的Email*@
                                <i id="tip0">@CultureHelper.GetLangString("HK_EMAIL")</i>
                                @*填写有误，请重新输入*@
                                <strong style="display:none;" id="error0">@CultureHelper.GetLangString("HK_CXSF")</strong>
                            </li>
                        </ul>
                        <dl>
                            @*修改交易密码*@
                            <b><input type="button" name="" id="submit" class="m_user_pas_submit" value="@CultureHelper.GetLangString("HOME_SHOPPING_SURE")"></b>
                        </dl>

                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#submit").click(function () {
            var email = $("#txtEmail").val();
            var emailreg = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (email == "" || !emailreg.test(email)) {
                $("#error0").show();
                $("#tip0").hide();
                return false;
            }            
            else {
                $("#error0").hide();
                $("#tip0").show();

                $("#submit").attr("disabled", "disabled");
                 $.post("/Userinfo/SendEmail",
                 {
                     emailAddress: email
                 },
                 function (data) {
                     if (data.rs == 1) {
                         window.location.href = "/Register/ValidationEmail?loginEmail=" + email;
                     }
                     else {
                         $("#error0").show().html(data.msg);
                         $("#submit").removeAttr("disabled");
                     }
                 }, "json");
            }
       });
    })

</script>
