@using HKTHMall.Services.Common.MultiLangKeys
<script src="@Url.Content("~/Content/js/share.js")"></script>
<script>
    var foot_share_desc = "@CultureHelper.GetLangString("HOME_FOOTER_SHAREDES")"; //来惠卡享受0元购物，买就返，买多少返多少，现在就去体验吧。
    var foot_share_url = "www.huikamall.hk";
    $(function () {
        $('.ls_foot_fx1').on('click', function (e) {
            e.preventDefault();
            FB.ui(
            {
                method: 'feed',
                name: '@CultureHelper.GetLangString("HOME_FOOTER_FENXIANGTITLE")',//惠卡商城
                link: foot_share_url,
                picture: 'http://www.huikamall.hk/Content/images/logon_bg.jpg',
                caption: "slogan",
                description: foot_share_desc,
                message: ''
            });
        });
    })
</script>
<div class="footer">
    <div class="ls_foot1">
        <div class="ls_foot1_1 fl">
            <h2>@CultureHelper.GetLangString("HOME_FOOTER_FENXIANGDINGYUE")</h2>
            <p>@CultureHelper.GetLangString("HOME_FOOTER_HEZUOHUOBAN")<br />@CultureHelper.GetLangString("HOME_FOOTER_HEZUOXIANGQING")</p>
            <div class="ls_foot_share">
                <a href="javascript:;" title="Facebook" class="ls_foot_fx1"></a>
                <a href="javascript:shareToTwitter(foot_share_desc,foot_share_url) " title="Twitter" class="ls_foot_fx2"></a>
                <a href="javascript: shareToGooglePlus(foot_share_url)" title="Google+" class="ls_foot_fx3"></a>
                <a href="javascript: shareToPlurk(foot_share_desc,foot_share_url);" title="Plurk" class="ls_foot_fx4"></a>
                <span class="clear clearfix"></span>
                @*<a href="#" title="" class="ls_foot_fx5"></a>
                <a href="#" title="Youtube" class="ls_foot_fx6"></a>
                <a href="#" title="" class="ls_foot_fx7"></a>*@
            </div>
        </div>

        <div class="ls_foot1_2 fl">
            <dl>
                <dt>@CultureHelper.GetLangString("HOME_FOOTER_NEWHAND_GUIDE")@*新手指南*@</dt>
                <dd><a href="@Url.Action("Shopping", "Help")">@CultureHelper.GetLangString("HOME_FOOTER_SHOPPING")@*购物流程*@</a></dd>
                @*<dd><a href="#">关于惠粉</a></dd>
                <dd><a href="#">关于代理</a></dd>*@
                <dd><a href="@Url.Action("Pay", "Help")">@CultureHelper.GetLangString("HOME_FOOTER_PAY")@*支付方式*@</a></dd>
            </dl>
            <dl>
                <dt>@CultureHelper.GetLangString("HOME_FOOTER_CUSTOMER_SERVICES")@*客户服务*@</dt>
                <dd><a href="@Url.Action("Agreement", "Help", new { area = "" })">@CultureHelper.GetLangString("HOME_FOOTER_AGREEMENT")@*服务协议*@</a></dd>
                <dd><a href="@Url.Action("SafePay", "Help", new { area = "" })">@CultureHelper.GetLangString("HOME_FOOTER_SAFEPAY")@*安全支付*@</a></dd>
                <dd><a href="@Url.Action("Question", "Help", new { area = "" })">@CultureHelper.GetLangString("HOME_FOOTER_QUESTION")@*常见问题*@</a></dd>
            </dl>
            <dl>
                <dt>@CultureHelper.GetLangString("HOME_FOOTER_LOGISTICS_SERVICES")@*物流配送*@</dt>
                <dd><a href="@Url.Action("Distribution", "Help", new { area = "" })">@CultureHelper.GetLangString("HOME_FOOTER_DISTRIBUTION")@*配送说明*@</a></dd>
                <dd><a href="@Url.Action("Receive", "Help", new { area = "" })">@CultureHelper.GetLangString("HOME_FOOTER_RECEIVE")@*签收验货*@</a></dd>
                <dd><a href="@Url.Action("Return", "Help", new { area = "" })">@CultureHelper.GetLangString("HOME_FOOTER_RETURN_POLICY")@*退换货政策*@</a></dd>
                <dd><a href="@Url.Action("Return2", "Help", new { area = "" })">@CultureHelper.GetLangString("HOME_FOOTER_RETURN_PROCESS")@*退换货流程*@</a></dd>
            </dl>
            <dl>
                <dt>@CultureHelper.GetLangString("FOOTER_ABOUT")@*关于我们*@</dt>
                <dd><a href="@Url.Action("HuikaPromise", "Help", new { area = "" })">@CultureHelper.GetLangString("HUIKA_PROMISE")@*惠卡承诺*@</a></dd>
                <dd><a href="@Url.Action("ContactUs", "Help", new { area = "" })">@CultureHelper.GetLangString("FOOTER_CONTACT_US")@*联系我们*@</a></dd>
            </dl>
        </div>

        <div class="ls_foot1_3 fr">
            <h2>@CultureHelper.GetLangString("HOME_FOOTER_YOUJIANDINGYUE")@*邮件订阅*@</h2>
            <p>@CultureHelper.GetLangString("HOME_FOOTER_YOUJIANDINGYUEDES")@*想去的我们最新消息？立即订阅电子报，即享50天返现优惠*@</p>
            <i style="display: none;">@CultureHelper.GetLangString("WEBSITE_ERROR_CUOWUTISHI")@*错误提示*@</i><!--错误提示-->
            <div class="ls_footfron">
                
                <input type="text" class="ls_foot_email" placeholder="@CultureHelper.GetLangString("WEBSITE_FOOTER_QINGTIANXIEYOUJIAN")" />
                <input type="button" class="ls_foot_ok" value="@CultureHelper.GetLangString("HOME_INDEX_OK")" /><!--请翻译翻译字段，立即订阅-->
            </div>
            <span>@CultureHelper.GetLangString("HOME_FOOTER_DINGYUEDIANZIBAO")@*订阅电子报表示您已经知晓并同意我们的*@ <a href="@Url.Action("Agreement","Help")">@CultureHelper.GetLangString("FOOTER_PRIVACY_POLICY")@*隐私条款*@</a></span>
        </div>
        <span class="clear clearfix"></span>
    </div>
    <div class="ls_foot2_">
        <div class="ls_foot2">
            <div class="fl">
                HKSJ Information (HongKong) Co.,Ltd.
            </div>
            <div class="fr">
                <img src="~/Content/newcss/css/images/ls_foot_pay.png" />
            </div>
        </div>
    </div>
</div><!--公共底部-->

<script>
    $(function () {
        $("input.ls_foot_ok").click(function () {//邮箱为空
            var email = $("input.ls_foot_email").val();
            if (email == '')
            {
                showSubMgs("@CultureHelper.GetLangString("USERINFO_E-MAIL_NOT_EMPTY")!", "red");//邮箱不能为空
                return;
            }
            if (!/^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/.test(email)) {//邮箱填写错误
                showSubMgs("@CultureHelper.GetLangString("ACCOUNT_USERINFO_ADDRESS_EMAILFORMATERROR")!", "red");//邮箱格式不正确
            }
            else {//后台请求数据
                $.ajax({
                    url: "/News/AddMailSub",
                    type:"POST",
                    datatype: "json",
                    data: { model: { Email: email } },
                    success: function (data) {
                        if (data.IsValid == true || data.IsValid == "true") {
                            showSubMgs(data.Messages[0], "green");//订阅成功
                        }
                        else {
                            showSubMgs(data.Messages[0], "red");//
                        }
                    },
                    error: function () {
                        showSubMgs("@CultureHelper.GetLangString("MONEY_ORDER_ORDERINFO_NETWORKSTATE")", "red");//
                    }
                })

            }
        });
        $("input.ls_foot_email").blur(function () {
            var email = $("input.ls_foot_email").val();
            if (email == '')
            {
                return;
            }
            if (!/^\w+([-+.]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(email)) {
                showSubMgs("@CultureHelper.GetLangString("ACCOUNT_USERINFO_ADDRESS_EMAILFORMATERROR")!", "red");//邮箱格式不正确
            }
            else {
                showSubMgs("", "red");//邮箱格式正确
            }
        });
    })
    function showSubMgs(str,color)
    {
        var i = $("div.ls_foot1_3 i");
        i.css("color", color);
        i.html(str);
        i.show();
    }
</script>

@*<div class="Footer1 pct100 tc" id="z_footer">
    <div class="w1160 dib vm f1det">
    </div>
</div>*@
@*<div style="background:#f6f5f5;" class="Footer2 pct100 tc">
    <div style="border-bottom:none;" class="w1202 dib vm FootDet tc">
        <div class="footerDet3 dib tl vt l">
            <ul>
                <li style="margin-bottom:15px;font-size:19px;" class="red mb10"><i class="Human dib vb mr5"></i>@CultureHelper.GetLangString("HOME_CALL_CENTER")</li>
                <li class="c4c b mb10 red" style="border-bottom: 1px solid red;text-align: center;font-size:35px;">02-635-5484</li>
                <li class="f14 c4c mb10 red clr"><em class="fl">@CultureHelper.GetLangString("WORKING_TIME")</em><em class="fr">09:00-18:00</em></li>
                <li style="margin-top:20px;" class="f12 c4c mb10">@CultureHelper.GetLangString("HOME_EMAILL")：0066mall@hksjinformation.com</li>
            </ul>
        </div>
        <div class="footerDet2 dib"></div>
        <div class="footerDet1 dib l">
            <ul class="Guide1 dib tl">
                <li class="f18 g0 b mb25">@CultureHelper.GetLangString("HOME_FOOTER_NEWHAND_GUIDE")</li>
                <li class="f14 mb5"><a class="g6 poi Guidelink trans" href="@(Url.Action("Shopping", "Help"))">@CultureHelper.GetLangString("HOME_FOOTER_SHOPPING")</a></li>
                <li class="f14 mb5"><a class="g6 poi Guidelink trans" href="@(Url.Action("About", "Help"))">@CultureHelper.GetLangString("HOME_INDEX_ABOUTHUIPOWDER")</a></li>
                <li class="f14 mb5"><a class="g6 poi Guidelink trans" href="@(Url.Action("AboutAgent", "Help"))">@CultureHelper.GetLangString("HOME_INDEX_AGENT")</a></li>
                <li class="f14 mb5"><a class="g6 poi Guidelink trans" href="@(Url.Action("Pay", "Help"))">@CultureHelper.GetLangString("HOME_FOOTER_PAY")</a></li>
            </ul>
            <ul class="Guide2 dib tl">
                <li class="f18 g0 b mb25">@CultureHelper.GetLangString("HOME_FOOTER_CUSTOMER_SERVICES")</li>
                <li class="f14 mb5"><a class="g6 poi Guidelink trans" href="@(Url.Action("Agreement", "Help"))">@CultureHelper.GetLangString("HOME_FOOTER_AGREEMENT")</a></li>
                <li class="f14 mb5"><a class="g6 poi Guidelink trans" href="@(Url.Action("SafePay", "Help"))">@CultureHelper.GetLangString("HOME_FOOTER_SAFEPAY")</a></li>
                <li class="f14 mb5"><a class="g6 poi Guidelink trans" href="@(Url.Action("Question", "Help"))">@CultureHelper.GetLangString("HOME_FOOTER_QUESTION")</a></li>
            </ul>
            <ul class="Guide3 dib tl">
                <li  class="f18 g0 b mb25 z_mr">@CultureHelper.GetLangString("HOME_FOOTER_LOGISTICS_SERVICES")</li>
                <li class="f14 mb5"><a class="g6 poi Guidelink trans" href="@(Url.Action("Distribution", "Help"))">@CultureHelper.GetLangString("HOME_FOOTER_DISTRIBUTION")</a></li>
                <li class="f14 mb5"><a class="g6 poi Guidelink trans" href="@(Url.Action("Receive", "Help"))">@CultureHelper.GetLangString("HOME_FOOTER_RECEIVE")</a></li>
                <li class="f14 mb5"><a class="g6 poi Guidelink trans" href="@(Url.Action("Return", "Help"))">@CultureHelper.GetLangString("HOME_FOOTER_RETURN_POLICY")</a></li>
                <li class="f14 mb5"><a class="g6 poi Guidelink trans" href="@(Url.Action("Return2", "Help"))">@CultureHelper.GetLangString("HOME_FOOTER_RETURN_PROCESS")</a></li>
            </ul>            
            <ul class="Guide4 dib tl">
                <li class="f18 g0 b mb25">@CultureHelper.GetLangString("FOOTER_ABOUT")</li>
                <li class="f14 mb5"><a href="@(Url.Action("HuikaPromise", "Help"))" class="g6 poi Guidelink trans">@CultureHelper.GetLangString("HUIKA_PROMISE")</a></li>
                <li class="f14 mb5"><a href="@(Url.Action("ContactUs", "Help"))" class="g6 poi Guidelink trans">@CultureHelper.GetLangString("FOOTER_CONTACT_US")</a></li>
            </ul>
        </div>
        <div class="footerDet2 dib"></div>
        <div style="" class="Download_mb f18 g0 b mb25 dib l">
                        @CultureHelper.GetLangString("HOME_INDEX_XIAZAISHOUJIBAN")
            <div class="WebApp"><img src="~/Content/css/images/cn-app.png" /></div>
            
        </div>
    </div>
</div>*@

@*<div class="Footer3">
    <div class="FooterDet3">
        <ul class="clr">
            <li class="fl"><a href="@(Url.Action("ContactUs", "Help",new {area=""}))">@CultureHelper.GetLangString("FOOTER_CONTACT_US")</a></li>
            <li class="fl"><a href="@(Url.Action("Agreement", "Help", new { area = "" }))">@CultureHelper.GetLangString("HOME_FOOTER_AGREEMENT")</a></li>
            <li class="fr">HKSJ Information (Thailand) Co.,Ltd.</li>
        </ul>
    </div>
</div>*@
<!-- 侧边栏 -->
@*<div class="z_slider">
    <div class="z_slider_human" name="z_slider">
        <i class="z_righticon" name="z_icon"></i>
        <a href="@Url.Action("Index", "My", new { area = "Account" })" class="z_humanicon"></a>
        <div class="z_nologin" name="z_kuang">
            <span class="z_touxiangicon1"></span>
            <label class="z_pleaselogin">
                @if (!Request.IsAuthenticated)
                {
                    @CultureHelper.GetLangString("HOME_CEBIANLAN_NIHAOQING")<a href="@Url.Action("Index", "login",new {area=""})">@CultureHelper.GetLangString("LOGIN_LOGIN")</a>@Html.Raw("/")<a href="@Url.Action("Index","Register",new {area=""})">@CultureHelper.GetLangString("HOME_CEBIANLAN_ZHUCE")</a>
                }
                else
                {
                    <a href="@Url.Action("Index", "My", new { area = "Account" })">@CultureHelper.GetLangString("HOME_INDEX_WELCOMECARD")</a>@Html.Raw("/")<a href="javascript:;" class="LoginOut">@CultureHelper.GetLangString("HOME_INDEX_EXIT")</a>
                     <script>$(".LoginOut").click(function () { $.post("@Url.Action("LoginOut", "login", new { area = "" })", function () { window.location.reload(); }); })</script>
                }
            </label>
            <span class="z_loginbut1">
                <a href="@Url.Action("order", "My", new { area = "Account" })" class="z_mydd1">@CultureHelper.GetLangString("HOME_INDEX_MYORDER")</a>
                <a href="@Url.Action("Wealth", "My", new { area = "Account" })" class="z_mycf1">@CultureHelper.GetLangString("ACCOUNT_MY_INDEX_MYWEALTH")</a>
            </span>
        </div>
    </div>
    <div class="z_slider_car">
        <span class="z_count1"></span>
        <i class="z_righticon2" name="z_icon"></i>
        <a href="@Url.Action("MyShoppingCart", "ShoppingCart", new { area = "money" })" class="z_humanicon2"></a> 
    </div>
    <div class="z_slider_heart">
        <span class="z_count2">@ViewBag.Count</span>
        <i class="z_righticon3" name="z_icon"></i>
        <a href="@Url.Action("Collection", "My", new { area = "Account" })" class="z_humanicon3"></a>       
    </div>
    <a class="z_top"></a>
</div>


<script type="text/javascript">
    var count = $("div[name='z_slider']").length;
    for (var i = 0; i < count; i++) {
        $("div[name='z_slider']").eq(i).hover(function () {
            $(this).find('i').stop().animate({
                'opacity': 'show',
                'right': '39px'
            });
            $(this).find('div').stop().animate({
                'opadity': 'show',
                'right': '46px'
            });
        }, function () {
            $(this).find('i').stop().animate({
                'opacity': 'hide',
                'right': '93px'
            });
            $(this).find('div').stop().animate({
                'opadity': 'hide',
                'right': '100px'
            });
        });
    }
    $(document).ready(function () {
        var z_bodyheight = $(window).height();
        var z_margintop = z_bodyheight * 0.225;
        $(".z_slider_human").css({
            'marginTop': z_margintop + 'px'
        });
    });
    $(function () {
        $(".z_top").click(function () {
            $("html, body").animate({
                scrollTop: 0
            }, 1000);
        });
    });
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-67813739-1', 'auto');
    ga('send', 'pageview');

</script>*@