@using HKTHMall.Admin.common;
@using BrCms.Framework.Infrastructure;
@using Autofac;

@model HKTHMall.Domain.AdminModel.Models.Products.SearchProductRuleModel
@{
    ViewBag.Title = "Commodity sales promotion information list page";
    // var SalesRuleIdList = ViewData["SalesRuleIdList"] as List<SelectListItem>;

    Authority _Authority = BrEngineContext.Current.Resolve<Authority>();
    _Authority.Add = _Authority.CheckAction(46);
    _Authority.Delete = _Authority.CheckAction(47);
}
<div id="user-toolbar">
    <div class="form-inline" role="form">
        <div class="form-group">
            <span>Product SN: </span>
            @Html.TextBoxFor(x => x.ProductId, new { @class = "form-control w70", @placeholder = "Please enter product number" })
        </div>
        &nbsp;
        <button type="button" class="btn btn-success js-search">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
        &nbsp;
        <button type="button" class="btn btn-danger js_reset" onclick="Tool.ClearForm($('#user-toolbar'))">
            <span class="glyphicon glyphicon-bullhorn"></span> Clear
        </button>
        &nbsp;
        @*<div class="form-group">
                @Html.DropDownList("SalesRuleIds", SalesRuleIdList, "--请选择--", new { @class = "form-control" })
            </div>
            &nbsp;*@
        @if (_Authority.Add)
        {
            <button type="button" class="btn btn-primary js_create">
                <span class="glyphicon glyphicon-plus"></span> Add
            </button>
        }

    </div>
</div>

<table id="u_grid" data-toolbar="#user-toolbar"></table>
@Html.Partial("_FormModal")
@section scripts{
    <script type="text/javascript">
        //权限
        var $addCheck = eval("@(_Authority.Add.ToString().ToLower())");
        var $deleteCheck = eval("@(_Authority.Delete.ToString().ToLower())");
        //加载数据
        $(function () {
            var columns = [
            { field: "ProductId", title: "Product SN", align: 'center', valign: 'middle', sortable: false },
            { field: "ProductName", title: "Product name", align: 'center', valign: 'middle', sortable: false },
            { field: "HKPrice", title: "List price", align: 'center', valign: 'middle', sortable: false },
            { field: "SalePrice", title: "Promotion price", align: 'center', valign: 'middle', sortable: false },
            //{ field: "PrdoctRuleName", title: "促销信息", align: 'center', valign: 'middle', sortable: false },
            { field: "Discount", title: "Discount", align: 'center', valign: 'middle', sortable: false },
            {
                field: "Status", title: "Status", align: 'center', valign: 'middle', sortable: false, formatter: function (val) {
                    if (arguments && arguments[1]) {
                        //未提交=1,待审核=2,审核不通过=3,已上架=4,已下架=5
                        var statusName = "-";
                        switch (arguments[1].Status) {
                            case 1:
                                statusName = "Not submitted";
                                break;
                            case 2:
                                statusName = "Review Pending";
                                break;
                            case 3:
                                statusName = "Audit does not pass";
                                break;
                            case 4:
                                statusName = "Has been built";
                                break;
                            case 5:
                                statusName = "Has been off the shelf";
                                break;
                            default:
                                break;

                        }
                        return statusName;
                    }
                }
            },
            {
                field: "StarDate", title: "Start time", align: 'center', valign: 'middle', sortable: false,
                formatter: function (val) {
                    return val == 'undefined' || !val ? '-' : val.formatterString(false);
                }
            },
            {
                field: "EndDate", title: "End time", align: 'center', valign: 'middle', sortable: false, formatter:
                  function (val) {
                      return val == 'undefined' || !val ? '-' : val.formatterString(false);
                  }
            },
            {
                field: "ProductRuleId", title: "Operation", align: 'center', valign: 'middle', width: '60px',
                formatter: function (val) {
                    var operation = '';
                    if ($addCheck) {
                        operation += '<a class="edit ml10" href="javascript:void(0)" title="Update"><i class="glyphicon glyphicon-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;';
                    }
                    if ($deleteCheck) {
                        operation += '<a class="remove ml10" href="javascript:void(0)" title="Delete"><i class="glyphicon glyphicon-remove"></i></a>';
                    }
                    if (operation == '') {
                        operation = '-';
                    }
                    return [operation
                    ].join('');
                },
                events: {
                    //编辑
                    'click .edit': function (e, value, row, index) {
                        Tool.ShowModal('/ProductRule/Create', { id: value, time: new Date().getTime() }, 'Edit promotion information');
                    },
                    //删除
                    'click .remove': function (e, value, row, index) {
                        Tool.DeleteRecord('/ProductRule/Delete', { productRuleId: value }, $('#u_grid'));
                    }
                }
            }];
            //加载列表数据
            $('#u_grid').bootstrapTable({
                url: '@Url.Action("List")',
                queryParams: function (params) {
                    return {
                        ProductId: $('#ProductId').val().trim(),
                        PagedIndex: this.pageNumber - 1,
                        PagedSize: this.pageSize,
                        time: new Date().getTime()
                    };
                },
                sortOrder: 'asc',
                sortName: 'ProductRuleId',
                pagination: true,
                showRefresh: true,
                showColumns: true,
                striped: true,
                sidePagination: 'server',
                columns: columns
            });
            //搜索事件
            $('.js-search').click(function () {
                Tool.ReloadDataTable($('#u_grid'));
            });
            //按Enter键回车搜索
            $('#ProductId').keydown(function (event) {
                if (event.keyCode == 13) {
                    Tool.ReloadDataTable($('#u_grid'));
                }
            });
            //添加商品促销信息
            $('.js_create').click(function () {
                Tool.ShowModal("/ProductRule/Create", {}, "Add promotion information");
            });
            //触发促销规则下拉
            $("#SalesRuleIds").change(function () {
                Tool.ReloadDataTable($('#u_grid'));
            });


            //删除商品促销信息
            function DelProductRule(productRuleId) {
                var url = "/ProductRule/Delete?productRuleId=" + productRuleId;
                $.ajax({
                    url: url,
                    dataType: "text",
                    success: function (data, status) {
                        data = JSON.parse(data);
                        Tool.ReloadDataTable($('#u_grid'));
                        Tool.Alert(data.Messages, 1500);
                    },
                    error: function (data, status, e) {
                        Tool.Alert("Delete failed！", 1500);
                    }
                });
            };
        })


        //验证输入框
        function validInput() {
            var isValid = true;
            var form = $("#modal-form");
            if (parseFloat(form.find("#ProductId").val().trim()) <= 0) {
                form.find("#ProductId").parent().addClass('has-error');
                Tool.Alert("Please enter product number greater than 0!", 1000);
                isValid = false;
                return;
            }
            else {
                form.find("#ProductId").parent().removeClass('has-error');
            }
            //等于2时,表示有折扣促销
            if (true) {
                var r = /^(?:\d+|\d{1,3}(?:,\d{3})+)(?:\.\d+)?$/;
                if (!r.test(form.find("#Discount").val())) {
                    Tool.Alert("Please input right discount", 1000);
                    isValid = false;
                    return;
                }
                if (parseFloat(form.find("#Discount").val().trim()) <= 0) {
                    form.find("#Discount").parent().addClass('has-error');
                    Tool.Alert("Please input discount greater than 0!", 1000);
                    isValid = false;
                    return;
                } else {
                    form.find("#Discount").parent().removeClass('has-error');
                }
                if (parseFloat(form.find("#Discount").val().trim()) > 1) {
                    form.find("#Discount").parent().addClass('has-error');
                    Tool.Alert("Please fill out the discount of less than 1!", 1000);
                    isValid = false;
                    return;
                } else {
                    form.find("#Discount").parent().removeClass('has-error');
                }
                if (!checkDateTime(form.find("#TempStarDate").val())) {
                    isValid = false;
                    Tool.Alert("Input format is not correct, press yyyy-MM-dd HH: mm format input!", 1000);
                    return;
                }
                if (!checkDateTime(form.find("#TempEndDate").val())) {
                    isValid = false;
                    Tool.Alert("Input format is not correct, press yyyy-MM-dd HH: mm format input!", 1000);
                    return;
                }
                var begin = new Date(form.find("#TempStarDate").val().replace(/-/g, "/"));
                var end = new Date(form.find("#TempEndDate").val().replace(/-/g, "/"));
                if (begin - end > 0) {
                    form.find("#EndDate").parent().addClass('has-error');
                    Tool.Alert("End time must later than start time!", 1000);
                    isValid = false;
                    return;
                } else {
                    form.find("#EndDate").parent().removeClass('has-error');
                }
            }
            return isValid;
        }
        //保存
        function Save() {
            if (validInput()) {
                Tool.SaveModal($('#u_grid'));
            }

        }

        function checkDateTime(date) {
            var reg = /^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2}) (\d{1,2}):(\d{1,2})$/;
            var r = date.match(reg);
            if (r == null) {
                return false;
            } else {
                return true;
            }
        }
    </script>
}