@model HKTHMall.Domain.AdminModel.Models.New.NewInfoModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section css{
    <style type="text/css">
        .form-inline {
            margin-bottom: 10px;
        }

            .form-inline .form-group-sm {
                border-bottom: 1px solid #d2d6de;
                padding: 5px 0 5px 0;
            }

        td.table-td-title {
            text-align: left;
            vertical-align: middle;
            width: 180px;
        }

        .table-td-content {
            border-left: 1px dotted #d2d6de;
        }

        .table > tbody > tr > td {
            vertical-align: middle;
        }

        #product.content {
            border: 1px solid #d2d6de;
        }

        .title-row {
            text-align:left;
        }
    </style>
}


<script charset="utf-8" src="~/Content/plugins/kindeditor/kindeditor.js"></script>
<script src="~/Content/plugins/kindeditor/lang/zh_CN.js" type="text/javascript"></script>
<form action="@Url.Action("Add")" id="product_form" method="POST" class="form-inline" role="form">
    <div class="form-inline">
        <div class="form-group">
            <button autocomplete="off" class="btn btn-primary" data-loading-text="Loading..." id="bt_save" type="submit">
                Save
            </button>
            <a class="btn btn-primary" href="@Url.Action("Index")">Return</a>
        </div>

    </div>

    <div class="tab-pane active" id="product_info" role="tabpanel">
        <div class="row">
            <div class="col-md-1 title-row"><label class="red">*</label>New Title :</div>
            <div class="col-md-11">
                @Html.HiddenFor(t => t.NewInfoId)
                @Html.TextBoxFor(t => t.NewTitle, new { @class = "form-control", style = "width:180px;", maxlength = "50" })
                @Html.ValidationMessageFor(m => m.NewTitle)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1 title-row"><label class="red">*</label>NewsType :</div>
            <div class="col-md-11">
                @Html.RadioButtonFor(model => model.NewType, 0, new { @id = "radio1", @name = "NewType" })
                <label for="radio1">Announcement</label>
                @Html.RadioButtonFor(model => model.NewType, 1, new { @id = "radio2", @name = "NewType" })
                <label for="radio2">Special Deals</label>
            </div>
           
        </div>        
        <br />
        <div class="row">
            <div class="col-md-1 title-row"><label class="red">*</label>Picture URL :</div>
            <div class="col-md-11">
                @Html.ValidationMessageFor(m => m.NewImage)
                @Html.EditorFor(x => x.NewImage, "FileUploadT1", new { RootImage = @ViewBag.RootImage })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1 title-row"><label class="red">*</label>News content :</div>
            <div class="col-md-11">
                @Html.TextBoxFor(t => t.NewContent, new { @class = "form-control", style = "height:400px;" })
                @Html.ValidationMessageFor(m => m.NewTitle)
            </div>
        </div>
    </div>
</form>



    <script>
        $(function () {
           

            

        });
        KindEditor.ready(function (k) {
            window.editor = k.create("#NewContent", {
                showRemote: false,
                allowFileManager: true,
                uploadJson: '/KindEditor/UploadImage'

            });
        })
    </script>
