@using HKTHMall.Services.Common.MultiLangKeys;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="@CultureHelper.GetLangString("SHARE_MY_LUCKYCODE_MSG")" />
    <meta itemprop="image" content="@ViewBag.ImgUrl" />
    <title>@CultureHelper.GetLangString("SHARE_MY_LUCKYCODE")</title>
    <style>
        *, html {
            margin: 0px;
            padding: 0px;
        }
    </style>
    <script src='@Url.Content("~/Areas/Content/js/jquery-1.9.1.min.js")' type="text/javascript"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
    try {
        wx.ready(function () {
            // 在这里调用 API
            //分享给朋友
            wx.onMenuShareAppMessage({
                title: '@CultureHelper.GetLangString("SHARE_MY_LUCKYCODE")', // 分享标题
                desc: '@CultureHelper.GetLangString("SHARE_MY_LUCKYCODE_MSG")', // 分享描述
                link: location.protocol + "//" + location.host + decodeURI('@(Url.Action("Index", "Share", Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes("" + ViewBag.referID + ""))))'), // 分享链接
                imgUrl: '@ViewBag.ImgUrl', // 分享图标
                type: '', // 分享类型,music、video或link,不填默认为link
                success: function () {
                    //alert(ok);
                },
                cancel: function () {
                    //alert("cancel");
                }
            });
            //分享到朋友圈
            wx.onMenuShareTimeline({
                title: '@CultureHelper.GetLangString("SHARE_MY_LUCKYCODE")', // 分享标题
                desc: '@CultureHelper.GetLangString("SHARE_MY_LUCKYCODE_MSG")', // 分享描述
                link: location.protocol + "//" + location.host + decodeURI("@(Url.Action("Index", "Share", Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes("" + ViewBag.referID + ""))))"), // 分享链接
                imgUrl: '@ViewBag.ImgUrl', // 分享图标
                type: '', // 分享类型,music、video或link,不填默认为link
                success: function () {
                    //alert(ok);
                },
                cancel: function () {
                    //alert("cancel");
                }
            });
            //分享到QQ
            wx.onMenuShareQQ({
                title: '@CultureHelper.GetLangString("SHARE_MY_LUCKYCODE")', // 分享标题
                desc: '@CultureHelper.GetLangString("SHARE_MY_LUCKYCODE_MSG")', // 分享描述
                link: location.protocol + "//" + location.host + decodeURI("@(Url.Action("Index", "Share", Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes("" + ViewBag.referID + ""))))"), // 分享链接
                imgUrl: '@ViewBag.ImgUrl', // 分享图标
                type: '', // 分享类型,music、video或link,不填默认为link
                success: function () {
                    //alert(ok);
                },
                cancel: function () {
                    //alert("cancel");
                }
            });
            //分享到腾讯微博
            wx.onMenuShareWeibo({
                title: '@CultureHelper.GetLangString("SHARE_MY_LUCKYCODE")', // 分享标题
                desc: '@CultureHelper.GetLangString("SHARE_MY_LUCKYCODE_MSG")', // 分享描述
                link: location.protocol + "//" + location.host + decodeURI("@(Url.Action("Index", "Share", Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes("" + ViewBag.referID + ""))))"), // 分享链接
                imgUrl: '@ViewBag.ImgUrl', // 分享图标
                type: '', // 分享类型,music、video或link,不填默认为link
                success: function () {
                    //alert(ok);
                },
                cancel: function () {
                    //alert("cancel");
                }
            });
        });
        wx.error(function (res) {
            //alert(res);
        });
    }
    catch (e)
    { }
</script>
</head>
<body>
    <div>
        <img alt="" src="@ViewBag.Pic" style="display:block;max-width:100%;margin:0 auto" />
    </div>
</body>
</html>
