@using HKTHMall.Services.Common.MultiLangKeys

<div class="mamain-rig dn js-setPayPwdPnl cb_9_1" style="border:0;width:366px;">
    <div class="l_set_password2 clr">
        <div class="l_set_password2_head clr">
            @******设置交易密码******@
            <span class="js-setpassword-title" data-text1="@CultureHelper.GetLangString("ACCOUNT_USERINFO_SETPAYPASSWORD_SETPAYPASSWORD")" data-text2="@CultureHelper.GetLangString("ACCOUNT_USERINFO_SETPAYPASSWORD_FIND")"></span>
            <span class="fr js-closePayPwdPnl" style="cursor: pointer;color: #b8b8b8;font-size: 30px;">×</span>
        </div>
        <div class="clr">
            <div class="l_set_password2_ph fl">@Model.UserInfoViewForPayment.Phone</div>
            @******获取验证码******@
            <div class="l_set_password2_yz fr"><a href="javascript:;" class="js-getcode" id="code">@CultureHelper.GetLangString("LOGIN_GETPASSWORD_VERIFICATIONCODE")</a></div>
        </div>
        @********验证码********@
        <div class="l_set_password2_arr1">
            <input type="text" class="l_set_password2_yz2" id="phonecode" name="shezhi" maxlength="6" onkeyup="value=value.replace(/[^\d]/g,'')" placeholder="@CultureHelper.GetLangString("LOGIN_GETPASSWORD_ENTERPHONEVERICODE")">
            <div class="l_set_password2_arr2 dn" id="phonetip"></div>
        </div>
        @********设置密码********@
        <div class="l_set_password2_arr1">
            <input type="password" id="npwd" class="l_set_password2_yz2" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" placeholder="@CultureHelper.GetLangString("ACCOUNT_USERINFO_SETPAYPASSWORD_INPUTTPAYPASSWORD")" />
            <div class="l_set_password2_arr2 dn" id="mmtip"></div>
        </div>
        @********确认密码********@
        <div class="l_set_password2_arr1">
            <input type="password" class="l_set_password2_yz2" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" placeholder="@CultureHelper.GetLangString("LOGIN_GETPASSWORD_ENTERCONFIRMPASSWORD")" id="rpwd" />
            <div class="l_set_password2_arr2 dn" id="qmmtip"></div>
        </div>
        @********立即设置********@
        <a href="javascript:void(submitPayPwd())" class="js-setPayPwdlnk">
            <div class="l_set_password2_sb js-setPayPwdlnk-text"
                 data-text1="@CultureHelper.GetLangString("LOGIN_GETPASSWORD_SETTINGS")"
                 data-text2="@CultureHelper.GetLangString("ACCOUNT_USERINFO_SETPAYPASSWORD_NOW_FIND")"></div>
        </a>
    </div>
</div>

