@using HKTHMall.Services.Common.MultiLangKeys;
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var aa = CultureHelper.GetLangString("LOGIN_REGISTER_WANGJIYOUXIANG_HELP");
}
  

<div class="main_about">
    <div class="m_register">
        <div class="m_register_bt">
            <ul>@CultureHelper.GetLangString("HK_FORGOTPASSWORD")</ul>
        </div>
        <div class="m_register_nr">
            <!--标签strong是错误提示位置，当报错时，strong显示，i标签隐藏，当输入正确时，返回到i标签显示，strong标签隐藏，用来选取不同的标签的ID名，开发自己写-->
            <ul>
                <li>
                    <b>@CultureHelper.GetLangString("LOGIN_PASSWORD_ZHUCEYOUXIANG")</b><span><input type="text" name="" id="email" onchange="CheckEmail()" class="m_login_text" placeholder="@CultureHelper.GetLangString("LOGIN_PASSWORD_SHURUZHUCEYOUXIANG")"></span>
                    <i id="emStr" style="display:block">@CultureHelper.GetLangString("LOGIN_PASSWORD_SHURUEMAIL")</i><strong id="emStrErr" style="display:none;">@CultureHelper.GetLangString("HK_CXSF")</strong>
                </li>
            </ul>
            <dl>
                <b><input type="submit" name="" id="findPwd" class="m_reg_submit" value="@CultureHelper.GetLangString("LOGIN_GETPASSWORD_RETRIEVEPASSWORD")"></b>
            </dl>


        </div>

        <div class="m_reg_other">
            <srtong>@Html.Raw(aa.Replace("{0}", "<a href=\"#\" >" + CultureHelper.GetLangString("ACCOUNT_MY_INDEX_HUIKA") + "</a> > <a href=\"#\">" + CultureHelper.GetLangString("HK_ZHSZ") + "</a>"))</srtong>
            <ul>
                <a href="#" title="" class="m_reg_face"><i></i><span>Facebook</span></a>
                <a href="#" title="" class="m_reg_twit"><i></i><span>Twitter</span></a>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
    //验证邮箱
    function CheckEmail() {
        var email = $("#email").val();
        if (/^\w+([-+.]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(email) == false || email == '') {
            $("#emStrErr").html("@CultureHelper.GetLangString("ACCOUNT_USERINFO_ADDRESS_EMAILFORMATERROR")");
            $("#emStrErr").css("display", "block");
            $("#emStr").css("display", "none");
            return false;
        } else {
            $("#emStrErr").css("display", "none");
            $("#emStr").css("display", "block");
            return true;
        }
    }
    $("#findPwd").click(function () {
        if (CheckEmail()) {
            debugger;
            $.ajax({
                url: "@Url.Action("SendEmail", "Login", new { area=""})",
                type: "Post",
                data: {
                    email:$("#email").val()
                },
                dataType: "json",
                success: function (data) {
                    debugger;
                    if (data.status==1) {
                        window.location.href = "/Register/ValidationEmail?loginEmail=" + $("#email").val()+"&isLogin=false";
                    } else {
                        $("#emStrErr").html(data.message);
                        $("#emStrErr").css("display", "block");
                        $("#emStr").css("display", "none");

                    }
                }
            })
        }
    })
</script>


