@using Autofac;
@using HKTHMall.Services.AC;
@model HKTHMall.Domain.Models.User.AC_UserModel
@{
    IAC_DepartmentService acDepartmentService = BrCms.Framework.Infrastructure.BrEngineContext.Current.Resolve<IAC_DepartmentService>();
    IAC_RoleService acRoleService = BrCms.Framework.Infrastructure.BrEngineContext.Current.Resolve<IAC_RoleService>();
    var ac_Department = acDepartmentService.GetAC_DepartmentsBy().Data;
    var ac_Role = acRoleService.GetAC_RolesBy().Data;
}
<div class="control-group">
    <label class="control-label-form">
        <label class="red">*</label>True name :
    </label>
    <div class="controls">
        @Html.HiddenFor(t => t.UserID)
        @Html.TextBoxFor(t => t.RealName, new { @class = "form-control", @placeholder = "Please enter real name", maxlength = 20 })
        @Html.ValidationMessageFor(m => m.RealName)
    </div>
</div>
<div class="control-group">
    <label class="control-label-form">
        ID Card No:
    </label>
    <div class="controls">
        @Html.TextBoxFor(t => t.IDNumber, new { @class = "form-control", maxlength = 20 })
        @Html.ValidationMessageFor(m => m.IDNumber)
    </div>
</div>
<div class="control-group">
    <label class="control-label-form">
        Gender :
    </label>
    <div class="controls">
        <select id="Sex" name="Sex">
            <option value="false" @(Model.Sex == false ? "selected='selected'" : "")>Male</option>
            <option value="true" @(Model.Sex == true ? "selected='selected'" : "")>Female</option>
        </select>
    </div>
</div>
<div class="control-group">
    <label class="control-label-form">
        Status :
    </label>
    <div class="controls">
        <select id="UserMode" name="UserMode">
            <option value="1" @(Model.UserMode == 1 ? "selected='selected'" : "")>Enable</option>
            <option value="2" @(Model.UserMode == 2 ? "selected='selected'" : "")>Lock</option>
        </select>
    </div>
</div>
<div class="control-group">
    <label class="control-label-form">
        Dept :
    </label>
    <div class="controls">
        <select id="ID" name="ID">
            @if (ac_Department != null)
            {
                foreach (var item in ac_Department)
                {
                    <option value="@item.ID" @(Model.ID == item.ID ? "selected='selected'" : "")>@item.DeptName</option>
                }
            }
        </select>
    </div>
</div>
<div class="control-group">
    <label class="control-label-form">
        Role :
    </label>
    <div class="controls">
        <select id="RoleID" name="RoleID">
            @if (ac_Role != null)
            {
                foreach (var item in ac_Role)
                {
                    <option value="@item.RoleID" @(Model.RoleID == item.RoleID ? "selected='selected'" : "")>@item.RoleName</option>
                }
            }
        </select>
    </div>
</div>